// Color Variables
$primary-color: #1210b2;
$secondary-color: #ffc966;
$background-color: #fff;
$background-color--light: #fbfbfb;
$background-color--light-blue: #eef5ff;

$border-color: #2e2c98;
$success-color: #10afb2;

$text-color: #333;
$primary-color--dark: #2e2c98;
// Font Variables
$font-family: "Roboto","Helvetica","Arial",sans-serif;
$font-size-base: 16px;

// Spacing Variables
$padding-base: 1rem;
$margin-base: 1rem;

$appBarBackgroundColor: #fff; // Adjust the background color as needed
$appBarShadow: 0 4px 6px rgba(0, 0, 0, 0.1);
$logoHeight: 40px; // Adjust the logo size as needed
$navLinkMargin: 0 10px;
$navLinkColor: #333;
$navLinkHoverColor: #1310b3;
